<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <connectionStrings>
    <add name="MDSSConnectionString" connectionString="Data Source = 192.168.20.56; Initial Catalog = COMM_DB; User ID = sa; Password = infodev"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="DocSyncTime" value="16:00:00" />
    <add key="BackupDumpTime" value="10:15:00" />
    <add key="BackupPath" value="C:D/MONGO/" />
  </appSettings>
</configuration>
